/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.ssh/id_rsa
/.ssh/id_rsa.pub
/.ssh/id_rsa.pub.bak
/.ssh/known_hosts
/.idea
/.vscode

